---
title: false
comment: false
page_layout: false
---

<% if item[:prev_page] %>
<ul class="pager">
  <li class="previous<%= item[:prev_page] ? '' : ' hidden' %>">
    <%== link_to "&larr; Newer", item[:prev_page] || '#' %>
  </li>
  <li class="next<%= item[:next_page] ? '' : ' hidden' %>">
    <%== link_to "Older &rarr;", item[:next_page] || '#' %>
  </li>
</ul>
<% end %>

<% item[:page_items].each do |article| %>
  <article itemscope itemtype="http://schema.org/Article">
    <header>
      <hr/>
      <div class="article-meta">
        <i class="icon-calendar"></i>
        <span  itemprop="datePublished" content="<%== article.date.strftime('%Y-%m-%d') %>" class="article-time">
          <%== link_to article.date.strftime('%b %e, %Y'), article %>
        </span>

        <% unless article.tags.empty? %>
          <span class="muted">·</span>
          <i class="icon-tags"></i>
          <span itemprop="keywords">
            <% article.tags.each do |tag| %>
              <%== link_to render_tag(tag), site.blog.tags[tag].path, :class => 'label label-default' %>
            <% end %>
          </span>
        <% end %>
      </div>
      <h1>
        <a itemprop="url" href="<%== article[:url] || article.path %>">
          <span itemprop="name"><%= article.title %></span>
        </a>
      </h1>
    </header>

    <div class="article-content" itemprop="articleBody">
      <p><%== item_summary(article) %></p>
    </div>

    <footer>
      <% if item_more?(article) %>
        <%== link_to '<i class="icon-hand-right"></i> Read on', article.path + '#read-on', :rel => 'full-article', :class => 'read-on pull-right' %>
      <% end %>
      <%== link_to '<i class="icon-comment"></i> Comment', article.path + '#comments', :rel => 'comments', :class => 'read-on pull-right' %>
    </footer>
  </article>
<% end %>

<% if item[:prev_page] || item[:next_page] %>
<ul class="pager">
  <li class="previous<%= item[:prev_page] ? '' : ' hidden' %>">
    <%== link_to "&larr; Newer", item[:prev_page] || '#' %>
  </li>
  <li class="next<%= item[:next_page] ? '' : ' hidden' %>">
    <%== link_to "Older &rarr;", item[:next_page] || '#' %>
  </li>
</ul>
<% end %>
