---
title: false
comment: false
page_layout: false
---

<% if item[:prev_page] %>
<ul class="pager">
  <li class="previous<%= item[:prev_page] ? '' : ' hidden' %>">
    <%== link_to "&larr; Newer", item[:prev_page] || '#' %>
  </li>
  <li class="next<%= item[:next_page] ? '' : ' hidden' %>">
    <%== link_to "Older &rarr;", item[:next_page] || '#' %>
  </li>
</ul>
<% end %>

<% item[:page_items].each do |article| %>
  <article>
    <header>
      <hr/>
      <div class="article-meta">
        <i class="icon-calendar"></i>
        <span class="article-time"><%== link_to article.date.strftime('%b %e, %Y'), article %></span>

        <% unless article.tags.empty? %>
          <span class="muted">·</span>
          <i class="icon-tags"></i>
          <% article.tags.each do |tag| %>
            <%== link_to render_tag(tag), site.blog.tags[tag].path, :class => 'label' %>
          <% end %>
        <% end %>
      </div>
      <% if article[:url] %>
        <h1><%== link_to article.title, article[:url] %></h1>
      <% else %>
        <h1><%== link_to article.title, article %></h1>
      <% end %>
    </header>

    <div class="article-content">
      <p><%== item_summary(article) %></p>
    </div>

    <footer>
      <% if item_more?(article) %>
        <%== link_to '<i class="icon-hand-right"></i> Read on', article.path + '#read-on', :rel => 'full-article', :class => 'read-on pull-right' %>
      <% end %>
      <%== link_to '<i class="icon-comment"></i> Comment', article.path + '#comments', :rel => 'comments', :class => 'read-on pull-right' %>
    </footer>
  </article>
<% end %>

<% if item[:prev_page] || item[:next_page] %>
<ul class="pager">
  <li class="previous<%= item[:prev_page] ? '' : ' hidden' %>">
    <%== link_to "&larr; Newer", item[:prev_page] || '#' %>
  </li>
  <li class="next<%= item[:next_page] ? '' : ' hidden' %>">
    <%== link_to "Older &rarr;", item[:next_page] || '#' %>
  </li>
</ul>
<% end %>
