---
comment: false
page_layout: false
---
<ul class="pager">
  <li class="previous<%= item[:prev_page] ? '' : ' disabled' %>">
    <%= link_to "&larr; Newer", item[:prev_page] || '#' %>
  </li>
  <li class="next<%= item[:next_page] ? '' : ' disabled' %>">
    <%= link_to "Older &rarr;", item[:next_page] || '#' %>
  </li>
</ul>

<% item[:page_items].each do |article| %>
  <article>
    <header>
      <hr/>
      <div class="article-meta">
        <i class="icon-calendar"></i>
        <span><%= article.date.strftime('%b %e, %Y') %></span>

        <% unless article.tags.empty? %>
          <span class="muted">·</span>
          <i class="icon-tags"></i>
          <% article.tags.each do |tag| %>
            <%= link_to render_tag(tag), site.blog.tags[tag].path, :class => 'label' %>
          <% end %>
        <% end %>
      </div>
      <h1><%= link_to article.title, article %></h1>
    </header>

    <div class="article-content">
      <p><%= item_summary(article) %></p>
    </div>

    <footer>
      <% if item_more?(article) %>
        <%= link_to 'Read on &rarr;', article.path + '#read-on', :rel => 'full-article', :class => 'read-on pull-right' %>
      <% else %>
        <%= link_to 'Comment &rarr;', article.path + '#comments', :rel => 'comments', :class => 'read-on pull-right' %>
      <% end %>
    </footer>
  </article>
<% end %>

<ul class="pager">
  <li class="previous<%= item[:prev_page] ? '' : ' disabled' %>">
    <%= link_to "&larr; Newer", item[:prev_page] || '#' %>
  </li>
  <li class="next<%= item[:next_page] ? '' : ' disabled' %>">
    <%= link_to "Older &rarr;", item[:next_page] || '#' %>
  </li>
</ul>
